@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
html,body {
  background: #f2f2f2;
  color: #333;
  font-family: "Nunito";
  margin: 0 0;
  padding: 0 0;
}

.column {
    float: left;
    width: 50%;
}

.row{
    display: flex;
}

.dash{
    margin-top: 60px;
}
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .article{
      background-image: url('https://images.unsplash.com/photo-1506318137071-a8e063b4bec0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTB8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80');
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      padding: 80px 80px;
  }

  

  .article h1{
      color: white;
      font-family: 'Montserrat';
      font-weight: 700;
  }

  .article h5{
    color: whitesmoke;
    font-family: 'Montserrat';
    font-weight: 500;
}

.article p{
    color: rgb(177, 174, 174);
    font-family: 'Montserrat';
    font-weight: 400;
    padding-top: 20px;
}

.launch{
    padding: 20px 20px;
}

.cards{
    padding: 20px 20px;
}

@media screen and (max-width:700px) {
    .row{
        display: block;
    }
    .column{
        width: 100%;
        float: none;

    }

    .article h1{
        font-size: 16px;
    }
  
    .article h5{
        font-size: 14px;

  }
  
  .article p{
    font-size: 12px;
    padding:  0 0;
    text-align: center;

  }

    .article{
        padding: 40px 20px;
    }
}